.card1 {
    display: flex;
    justify-content: space-between;
}

.card2 {
    display: flex;
    justify-content: space-between;
}

.card_clothes {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #aa9f9e;
    align-self: center;
}

.card_meds {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #76c7ba;
    align-self: center;
}

.card_food {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #f7d2d1;
    align-self: center;
}

.card_schoolkit {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #f1b682;
    align-self: center;
}

.card_books {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #f6d454;
    align-self: center;
}

img {
    border-radius: 10px 10px 0px 0px;
    height: 10%;
    width: 10%;
    border: 20px;
    border-color: black;
}

.container {
    padding: 10px 16px;
}

.donate_meds {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0d4d43;
    color: white;
    cursor: pointer;
}

.donate_meds:hover {
    background-color: #3aceb6;
}

.donate_clothes {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #1d1818;
    color: white;
    cursor: pointer;
}

.donate_clothes:hover {
    background-color: #c7a6a4;
}

.donate_food {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #a28a89;
    color: white;
    cursor: pointer;
}

.donate_food:hover {
    background-color: #4d4141;
}

.donate_schoolkit {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #9c7654;
    color: white;
    cursor: pointer;
}

.donate_schoolkit:hover {
    background-color: #473626;
}

.donate_books {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #a18b37;
    color: white;
    cursor: pointer;
}

.donate_books:hover {
    background-color: #4c411a;
}