.num {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.21053;
}

.yellow {
    border-bottom: 5px solid #FDC300;
}

.blue {
    border-bottom: 5px solid #448AC9;
}

.red {
    border-bottom: 5px solid rgb(252, 29, 29);
}

.name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#chartdiv {
    width: 100%;
    height: 500px;
    max-width: 50%;
}

.globe {
    float: left;
}

.txt {
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

.alignment {
    text-align: center;
}

.title_paint {
    display:inline-block;
    position:relative;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}