#chartdiv {
    width: 100%;
    height: 500px;
    max-width: 50%;
  }

  .globe{
    float: left;
  }

  .txt{
    float: right;
    margin-right: 10%;
    margin-top: 10%;
  }

  .alignment{
    text-align: center;
    

  }