body {
    background-color: #0f1129;
    color:#f4ebeb;
}

#aboutpage {
    padding: 70px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

p {
    padding: 3%;
}

#footer {
    padding: 2% 5%;
    text-align: center;
    font-style: italic;
}

.social-icons {
    margin: 20px 10px;
}

@media(max-width:1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }

    body {
        text-align: center;
    }

    #title {
        text-align: center;
    }
}